* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141617;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: #141617;
    border: 2px solid #00735b;
    border-radius: 20px;
    height: 50%;
    width: 60%;
    min-width: 500px;
    box-shadow: #00735b 0px 0px 5px;
    display: flex;
    align-items: center;
}

.sidebar {
    margin: 5px;
    background-color: rgb(22, 25, 25);
    /* border: red 1px solid; */
    box-shadow: #00735b 2px 0px  ;
    width: 35%;
    height: calc(100% - 10px);
    border-radius:15px 0px 0px 20px;
}